extends ./includes/layout.jade

block content
	.row
		.col-sm-4.text-center
			a.btn.btn-primary(href="/facebook") Facebook
		.col-sm-4.text-center
			a.btn.btn-primary(href="/twitter") Twitter
		.col-sm-4.text-center
			a.btn.btn-primary(href="/auth/google") Google Plus
