doctype html
html
	head
		title Social Meadia OAuth
		link(rel="stylesheet", href="vendor/bootstrap/dist/css/bootstrap.min.css")
	body
		.container
			h1.text-center Social Media OAuth
			
			block content

		script(type="text/javascript", src="vendor/bootstrap/dist/js/bootstrap.min.js")